.App {
  color: #003953;
}

.App-top-header {
  width:auto;
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-sub-header {
  width:auto;
  display: flex;
  flex-direction: row;
  margin-top:30px;
}
.App-body {
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 20px;
}

.sub-header-content {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  width: 100%;
}

.sub-header-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:10px;
}

.sub-header-content-description {
  color:rgb(44, 19, 19);
  font-size: 20px;
  font-weight: 300;
}

.sub-header-content-data {
  padding-top: 5px;
  color:rgb(177, 2, 2);
  font-weight: 900;
  font-size: 32px;
  border:0px;
  outline:0px;
}

.sub-header-content-data-select {
  padding-top: 5px;
  color: rgb(177, 2, 2);
  font-weight: 900;
  font-size: 32px;
  border: 0px;
  outline: 0px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: white;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  text-align-last: center;
  cursor:pointer;
  overflow:hidden;
}

.sub-header-content-data-select-option {
  padding-top: 5px;
  color: rgb(177, 2, 2);
  font-weight: 600;
  font-size: 24px;
  border: 0px;
  outline: 0px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: white;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  text-align-last: center;
  cursor: pointer;
}
.sub-header-logo{
  width:auto;

}

.HistogramWrapper{
  margin: 20px;
}

@media only screen and (max-width: 1200px) {
  .sub-header-content {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .sub-header-content {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    width: 100%;
  }
}

